<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OriginalSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateListCon</display-name>
    <servlet-name>CandidateListCon</servlet-name>
    <servlet-class>controller.CandidateListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateListCon</servlet-name>
    <url-pattern>/CandidateListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateRegiCon</display-name>
    <servlet-name>CandidateRegiCon</servlet-name>
    <servlet-class>controller.CandidateRegiCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegiCon</servlet-name>
    <url-pattern>/CandidateRegiCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateUpdateCon</display-name>
    <servlet-name>CandidateUpdateCon</servlet-name>
    <servlet-class>controller.CandidateUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateUpdateCon</servlet-name>
    <url-pattern>/CandidateUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateViewCon</display-name>
    <servlet-name>CandidateViewCon</servlet-name>
    <servlet-class>controller.CandidateViewCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateViewCon</servlet-name>
    <url-pattern>/CandidateViewCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCon</display-name>
    <servlet-name>LoginCon</servlet-name>
    <servlet-class>controller.LoginCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCon</servlet-name>
    <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCon</display-name>
    <servlet-name>LogoutCon</servlet-name>
    <servlet-class>controller.LogoutCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCon</servlet-name>
    <url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegiCon</display-name>
    <servlet-name>UserRegiCon</servlet-name>
    <servlet-class>controller.UserRegiCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegiCon</servlet-name>
    <url-pattern>/UserRegiCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatCon</display-name>
    <servlet-name>ChatCon</servlet-name>
    <servlet-class>controller.ChatCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatCon</servlet-name>
    <url-pattern>/ChatCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListCon</display-name>
    <servlet-name>UserListCon</servlet-name>
    <servlet-class>controller.UserListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCon</servlet-name>
    <url-pattern>/UserListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadOriginal</display-name>
    <servlet-name>FileUploadOriginal</servlet-name>
    <servlet-class>util.FileUploadOriginal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadOriginal</servlet-name>
    <url-pattern>/FileUploadOriginal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageBean</display-name>
    <servlet-name>MessageBean</servlet-name>
    <servlet-class>model.MessageBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBean</servlet-name>
    <url-pattern>/MessageBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateCon</display-name>
    <servlet-name>UserUpdateCon</servlet-name>
    <servlet-class>controller.UserUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateCon</servlet-name>
    <url-pattern>/UserUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteCon</display-name>
    <servlet-name>UserDeleteCon</servlet-name>
    <servlet-class>controller.UserDeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteCon</servlet-name>
    <url-pattern>/UserDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCon</display-name>
    <servlet-name>SearchCon</servlet-name>
    <servlet-class>controller.SearchCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCon</servlet-name>
    <url-pattern>/SearchCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionRegiCon</display-name>
    <servlet-name>SectionRegiCon</servlet-name>
    <servlet-class>controller.SectionRegiCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionRegiCon</servlet-name>
    <url-pattern>/SectionRegiCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionListCon</display-name>
    <servlet-name>SectionListCon</servlet-name>
    <servlet-class>controller.SectionListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionListCon</servlet-name>
    <url-pattern>/SectionListCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecntionUpdateCon</display-name>
    <servlet-name>SecntionUpdateCon</servlet-name>
    <servlet-class>controller.SecntionUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecntionUpdateCon</servlet-name>
    <url-pattern>/SecntionUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sec</display-name>
    <servlet-name>Sec</servlet-name>
    <servlet-class>controller.Sec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sec</servlet-name>
    <url-pattern>/Sec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionDeleteCon</display-name>
    <servlet-name>SectionDeleteCon</servlet-name>
    <servlet-class>controller.SectionDeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionDeleteCon</servlet-name>
    <url-pattern>/SectionDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateDeleteCon</display-name>
    <servlet-name>CandidateDeleteCon</servlet-name>
    <servlet-class>controller.CandidateDeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateDeleteCon</servlet-name>
    <url-pattern>/CandidateDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateResultCon</display-name>
    <servlet-name>CandidateResultCon</servlet-name>
    <servlet-class>controller.CandidateResultCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateResultCon</servlet-name>
    <url-pattern>/CandidateResultCon</url-pattern>
  </servlet-mapping>
</web-app>